/* UserQuestion.css */

.user-question-container {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    min-height: 80vh;
}

.form-question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-question-container input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.all-question-container {
    margin: 20px 0;
    /* padding: 10px; */
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}
 
.user-question-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-question-container button:hover {
    background-color: #0056b3;
}

.user-question-container h1 {
    font-size: 24px;
    background-color: rgb(160, 224, 243);
    padding: 20px 5px;
    /* color: #333; */
}

.question-not-answer{
    background-color: rgb(239, 207, 207);
    padding: 20px 5px;
}

.question-answered{
    background-color: rgb(206, 246, 206);
    padding: 20px 5px;
}


/* Add any additional styles you need */

/* Media query for responsiveness */
@media (max-width: 768px) {
    .user-question-container {
        padding: 10px;
    }
    input {
        width: 80%;
    }
}
